.sectionBody{
   
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}
.profile_pic{
    border-radius: 50%;
    width: 150px;
    height:150px;
}
.user_name{
    font-size:28px;
    color:gray;
    margin-left:30px;
    
}
.user_address{
    font-size: 24px;
    color:gray;
    margin-left:30px;
}
@media(max-width:600px){
    .link{
        margin-right: 5px;
    }
    .sectionBody{
        display:flex;
     flex-direction: column;
    }
}