.section3_wrapper{
    background-color:white;
    min-height: 60px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .box{
   min-height:300px;
    width:400px;
 }
@media(max-width:800px){
    .section3_wrapper{
        display: flex;
        flex-direction: column;
        padding: 60px;
     }
     .box{
         padding-top: 20px;
     }
}